.nav{
    height: 80px;
    width: 100%;
    /* background: transparent; */
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    color: red;
    
}

.nav.active{
    background-color: rgb(173, 154, 154);
    transition: .1s ease-in-out;
}

.nav.active h5{
    color: white;
}

.nav.active h5:hover{
    color: rgb(201, 28, 28);
}

.nav.active h3{
    color: white;
}

.nav.active h3:hover{
    color: rgb(201, 28, 28);
}

h5:hover{
    color: rgb(201, 28, 28);
}
h3:hover{
    color: rgb(201, 28, 28);
}


@media(max-width: 768px){
    .phone-nav{
        background-color:  rgb(173, 154, 154);
        
        padding: 10px;
    
    }
}



